@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px) scale(1.1, 1);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-3px) scale(1.1, 1);
    }
    100% {
        transform: translateX(0);
    }
}

/* Loading */
.loading {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;

    & .icon {
        font-size: inherit;
        animation: spin 2s linear infinite;
    }
}

/* Derp Smiley */
.derp-smiley {
    position: absolute;
    bottom: 3rem;
    left: 0;
    font-size: large;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), left 0.6s ease,
        right 0.6s ease;
    background-color: rgb(255, 192, 247);
    border-radius: 2rem;
    border: 1px solid black;
    color: black;
    cursor: default;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.derp-smiley.squish {
    transform: scale(0.8, 0.8);
}

.derp-smiley.flip {
    left: auto;
    right: 0;
}

.derp-smiley.wiggle {
    animation: wiggle 0.6s ease infinite;
}

/* Cookie consentor */
.cookie-banner {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    & button {
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1rem;
    }
    z-index: 100;
}
