@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Fira Code', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* https://www.w3schools.com/cssref/css_colors.php -- default colors available, very nicuh */
    --background-color: white;
    --border-color: black;
    --purple: #6a5acd /* slateblue */;
    --pink: #c71585 /* mediumvioletred */;
    --red: #dc143c; /* crimson WARNING: [push] operation in slime. */
    --orange: #ff4500 /* orangered */;
    --green: #32cd32 /* limegreen */;
    --blue: #00bfff /* deepskyblue WARNING: [pull] operation in slime. */;

    --purple-80: color-mix(in srgb, var(--purple) 80%, white);
    --red-80: color-mix(in srgb, var(--red) 80%, white);
    --green-80: color-mix(in srgb, var(--green) 80%, white);
    --blue-80: color-mix(in srgb, var(--blue) 80%, white);

    --purple-90: color-mix(in srgb, var(--purple) 90%, white);
    --red-90: color-mix(in srgb, var(--red) 90%, white);
    --green-90: color-mix(in srgb, var(--green) 90%, white);
    --blue-90: color-mix(in srgb, var(--blue) 90%, white);
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.p-0 {
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.hide {
    opacity: 0;
}

.grid {
    display: grid;
}

.grid-1 {
    grid-row: 1;
    grid-column: 1;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-col-1 {
    grid-column: 1;
}

.grid-col-2 {
    grid-column: 2;
}

.auto {
    overflow: auto;
}

.gap-1 {
    gap: 0.25rem;
}
