.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e0e0e0;

    .hash {
        color: var(--gray);
        position: absolute;
        background-color: white;
        right: 1rem;
        bottom: 0.5;
    }
}
