.footer {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color);
    background-color: white;
    padding-top: 0.25rem;

    & .hash {
        color: gray;
        position: absolute;
        background-color: white;
        right: 0.5rem;
        bottom: 1.5rem;
    }

    & .socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-grow: 1;
    }
}
