.slime-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & button {
            font-size: larger;
            width: 3rem;
            height: 3rem;

            background-color: var(--primary-color);
            color: white;
            border: 1px solid var(--off-black);
            border-radius: 0.125rem;
            cursor: pointer;
        }
    }

    & .slime-scene {
        width: 100%;
        height: 80%;
        flex-grow: 1;
        filter: blur(1px);
    }

    & .config-panel {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        & .labeled-input {
            display: flex;
            flex-direction: column;
        }
    }
}
