.slime-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .controls {
        display: flex;
        flex-direction: row;
        justify-content: start;

        & button {
            font-size: 3rem;
            padding: 0;
            margin-top: 0.25rem;
            margin-right: 0.25rem;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 3rem !important;
            height: 3rem !important;

            background-color: var(--secondary-color);
            color: white;
            border: 1px solid var(--off-black);
            border-radius: 0.25rem;
            cursor: pointer;
            &:hover {
                filter: brightness(0.9);
            }
            &:active {
                filter: brightness(0.8);
            }
            &.config {
                padding-bottom: 0.4rem;
            }
            &.play-pause {
                padding-top: 0.2rem;
            }
        }
    }

    & .slime-scene {
        width: 100%;
        height: 80%;
        flex-grow: 1;
        filter: blur(1px);
    }

    & .config-panel {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        & .labeled-input {
            display: flex;
            flex-direction: column;
        }
    }
}
