.projects-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .projects-content {
        flex: 1;
        display: flex;
        justify-content: center;
        overflow-y: hidden;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1px;

    max-width: 20%;
    border-right: 1px solid var(--border-color);

    button {
        font-size: large;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .home-link {
        font-weight: bolder;
        font-size: x-large;

        .icon {
            width: 2rem;
            padding-right: 0.5rem;
        }
    }

    .sidebar-link {
        border-top: 0;
        border-left: 0;
        border-right: 0;

        .icon {
            width: 1rem;
            padding-left: 0.5rem;
            padding-right: 1rem;
        }
    }

    .link .label {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    .sidebar-link:hover .label {
        border-bottom: 2px solid var(--light-blue);
    }

    .sidebar-link.active,
    .sidebar-link:active {
        .label {
            border-bottom: 2px solid var(--blue);
        }
    }
}
