.projects-container {
  display: flex;
  height: 100%;

  .sidebar {
    width: 20%;
    max-width: 200px;
    background-color: #f4f4f4;
    padding: 0.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .home-link {
    background-color: var(--gray) !important;
    margin-bottom: 2rem !important;
  }

  .sidebar-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 0;
    color: #333;
    background-color: var(--light-gray);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sidebar-link:hover {
    background-color: #ddd;
  }

  .projects-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
}
